@mixin name {
    display: flex;
    justify-content: center;
    align-items: center;
}
$color1: #a2a2a2;

//@import url(".scss"); łaczenie innego pliku scss

body{
    font-family: Lato, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}
header{
    .baner{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 1200px;
        height: 400px;
        background-image: url('autko.jpg');
        opacity: 0.4;
        background-size: cover;
    }
    h1{
        font-size: 3em;
        position: absolute;
        color: #f00;
        left: 28%;
        bottom: 72%;
        opacity: 100%;
    }
    
}
main{
    @include name;
    flex-direction: column;
    h2{
        font-size: 2em;
    }
    section{
        @include name; 
        .box{
            width: 200px;
            height: 500px;
            background-color: #040200;
            border-right: 3px solid $color1;
            background-image: url('autko.jpg');
            margin-top: 10px;
            margin-left: 30px;
            margin-bottom: 5px;
            p{
                font-size: 1em;
                text-align: center;
            }
        }
        .box:hover{
            width: 210px;
            height: 510px;
            transition: 0.3s;
        }
    }
    article{
       margin: auto;  
       width: 600px;
        p{
            text-align: center;
            font-size: 1em;
        }
    }
    button{
        background-color: $color1;
        a{
            text-decoration: none;
        }
    }
}
footer{
    @include name;
    background-color: #626262;
    height: 100px;
    p{
        text-align: center;
    }
}